<a href="https://colab.research.google.com/github/MilizCom/Data-mining/blob/main/Muhammad_Shamil_Izzah_60200122028_Kelas_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
my_data_set = {
    'cars' : ["BMW","Volvo","Ford"],
    'passing' : [3,7,2],
    'harga' : [100,200,300]
}
my_var = pd.DataFrame(my_data_set)
print (my_var)

    cars  passing  harga
0    BMW        3    100
1  Volvo        7    200
2   Ford        2    300

In [ ]:
df = pd.read_csv('data.csv')
pd.set_option('display.max_rows', 10)
print(df)
print(df.dtypes)
print(df.info())

        day  Duration  Pulse  Maxpulse  Calories
0      day1        60    110       130     409.1
1      day2        60    117       145     479.0
2      day3        60    103       135     340.0
3      day4        45    109       175     282.4
4      day5        45    117       148     406.0
..      ...       ...    ...       ...       ...
164  day165        60    105       140     290.8
165  day166        60    110       145     300.0
166  day167        60    115       145     310.2
167  day168        75    120       150     320.4
168  day169        75    125       150     330.4

[169 rows x 5 columns]
day          object
Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   day       169 non-null    object
 1   Duration  169 non-null    int64
 2   Pulse     169 non-null    int64
 3   Maxpulse  169 non-null    int64
 4   Calories  164 non-null    float64
dtypes: float64(1), int64(3), object(1)
memory usage: 6.7+ KB
None

In [ ]:
column_type = df['day'].dtype
df['Duration'] = df['Duration'].astype(float)
df['Calories'] = df['Calories'].fillna(0).astype(int)
print(column_type)
print(df.dtypes)

object
day          object
Duration    float64
Pulse         int64
Maxpulse      int64
Calories      int64
dtype: object

In [ ]:
subset = df.iloc[100:115]
print(subset)

        day  Duration  Pulse  Maxpulse  Calories
100  day101      20.0     95       112        77
101  day102      90.0     90       110       500
102  day103      90.0     90       100       500
103  day104      90.0     90       100       500
104  day105      30.0     92       108        92
..      ...       ...    ...       ...       ...
110  day111      60.0    102       124       325
111  day112      45.0    107       124       275
112  day113      15.0    124       139       124
113  day114      45.0    100       120       225
114  day115      60.0    108       131       367

[15 rows x 5 columns]